.sv-icon-container {
  display: inline-block;
}

.sv-builtin-icon {
  width: 44px;
  height: 44px;
  padding: 6px;
  background-color: #dce4e8;
  float: left;
}

.sv-builtin-icon:focus {
  outline: none;
}

.sv-builtin-icon > .csui-icon-v2:hover {
  cursor: pointer;
}

.sv-builtin-icon > .csui-icon-v2 .csui-icon-v2-state {
  stroke: none;
  fill: none;
}

.sv-builtin-icon > .csui-icon-v2:hover .csui-icon-v2-state {
  fill: #f3fbff;
}

.sv-builtin-icon > .csui-icon-v2:active .csui-icon-v2-metaphor0 {
  fill: #666666;
}

.sv-builtin-icon > .csui-icon-v2:active .csui-icon-v2-state {
  fill: #cccccc;
}

.sv-builtin-icon > .csui-icon-v2 .csui-icon-v2-focus {
  stroke: none;
}

.sv-builtin-icon:focus > .csui-icon-v2 .csui-icon-v2-focus {
  stroke: #2E3D98;
}